.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.gallery-modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:focus {
    border: none;
    outline: none;
  }
}

.gallery-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-modal-img {
  width: auto;
  max-width: 80vw;
  height: 85vh;
  border: solid white 3px;
  border-radius: 3px;
}

.gallery-loading {
  height: 100px;
  margin: 30px;
}
